<div class="employer-search">
    <nz-card [nzBordered]="false">
        <form nz-form class="ant-advanced-search-form" [formGroup]="searchForm">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzMd]="11" [nzSm]="9" [nzXs]="24">
                    <nz-input-group [nzPrefix]="prefixJobTemplate" style="width: 100%">
                        <nz-select
                            name="name"
                            id="name"
                            [nzPlaceHolder]="'Job Title or Skill'"
                            [nzShowSearch]="true"
                            [nzShowArrow]="false"
                            style="width: 100%"
                            formControlName="title"
                        >
                            <ng-container *ngIf="titleInfo.length > 0">
                                <nz-option *ngFor="let data of titleInfo" [nzLabel]="data" [nzValue]="data"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-input-group>
                </div>
                <div nz-col [nzMd]="10" [nzSm]="10" [nzXs]="24">
                    <nz-input-group [nzPrefix]="prefixLocTemplate" style="width: 100%">
                        <nz-select
                            name="location"
                            id="location"
                            [nzPlaceHolder]="'City, District or Country'"
                            [nzShowSearch]="true"
                            [nzShowArrow]="false"
                            style="width: 100%"
                            formControlName="place"
                        >
                            <ng-container *ngIf="locationInfo.length > 0">
                                <nz-option *ngFor="let data of locationInfo" [nzLabel]="data" [nzValue]="data"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-input-group>
                </div>
                <div nz-col [nzMd]="2" [nzSm]="5" [nzXs]="24" style="display: flex; text-align: right">
                    <button nz-button class="search-btn" nzType="primary" [nzSize]="size" (click)="searchData()">
                        <fa-icon [icon]="faSearch" class="employer-search-btn"></fa-icon>
                    </button>
                    <button nz-button class="search-btn" nzType="default" [nzSize]="size">
                        <fa-icon [icon]="faSliderH" class="employer-search-btn"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
    </nz-card>
</div>

<ng-template #prefixJobTemplate>
    <b class="suffix-text">{{ 'app.employeesearchbar.what' | translate }}</b>
</ng-template>

<ng-template #prefixLocTemplate>
    <b class="suffix-text">{{ 'app.employeesearchbar.where' | translate }}</b>
</ng-template>
