<div class="post-job">
    <nz-steps [nzCurrent]="current">
        <nz-step></nz-step>
        <nz-step></nz-step>
        <nz-step></nz-step>
    </nz-steps>
    <div class="steps-content" *ngIf="current == 0">
        <app-post-job-page-one [childForm]="childForm" (cmpnyInfo)="cmpnyInfo($event)"></app-post-job-page-one>
    </div>
    <div class="steps-content" *ngIf="current == 1">
        <app-post-job-page-two [childForm]="childForm"></app-post-job-page-two>
    </div>
    <div class="steps-action">
        <div *ngIf="current + 1 == 1">
            <button class="step-action-previous" nzType="primary" nz-button (click)="pre()" *ngIf="showPrevious">
                <span>{{ 'app.postjob.back' | translate }}</span>
            </button>
            <button class="step-action-next" nzType="primary" nz-button (click)="next()" *ngIf="current + 1 < total">
                <span>{{ 'app.postjob.continue' | translate }}</span>
            </button>
        </div>
        <div *ngIf="current + 1 == 2">
            <button class="step-action-previous" nzType="default" nz-button (click)="pre()" *ngIf="showPrevious">
                <span>{{ 'app.postjob.back' | translate }}</span>
            </button>
            <button class="step-action-save" nzType="primary" nz-button (click)="save()" *ngIf="showPrevious">
                <span>{{ 'app.resume.save&continue' | translate }}</span>
            </button>
            <button class="step-action-next" nzType="primary" nz-button (click)="next()" *ngIf="current + 1 < total">
                <span>{{ 'app.postjob.continue' | translate }}</span>
            </button>
        </div>
    </div>
</div>
