<div class="resume-form-three">
    <nz-card [nzBordered]="false" [nzTitle]="educationCardTitleTemp">
        <form nz-form [formGroup]="childForm">
            <div formArrayName="education">
                <div *ngFor="let education of getControls(); let i = index; let last = last">
                    <div [formGroupName]="i">
                        <nz-card class="data-card">
                            <div nz-row [nzGutter]="24">
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform3.level' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="24">
                                            <nz-select formControlName="educationLevelId">
                                                <nz-option
                                                    *ngFor="let l of educationLevel"
                                                    [nzLabel]="l.educationLevelName"
                                                    [nzValue]="l.educationLevelId"
                                                ></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform3.studyfield' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="24">
                                            <nz-select formControlName="educationFieldId">
                                                <nz-option
                                                    *ngFor="let l of educationField"
                                                    [nzLabel]="l.educationFieldName"
                                                    [nzValue]="l.educationFieldId"
                                                ></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform3.institution' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="24">
                                            <input nz-input formControlName="institution" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform3.result' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="24">
                                            <input nz-input formControlName="grade" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform3.citydistrict' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="24">
                                            <nz-select nzShowSearch nzAllowClear formControlName="city">
                                                <nz-option *ngFor="let l of districtList" [nzLabel]="l.name" [nzValue]="l.name"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform2.country' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control [nzSpan]="24">
                                            <nz-select nzShowSearch nzAllowClear formControlName="country">
                                                <nz-option *ngFor="let l of countryLists" [nzLabel]="l.name" [nzValue]="l.name"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzSpan]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24">{{ 'app.resumeform3.timeperiod' | translate }}</nz-form-label>
                                        <nz-form-control [nzSpan]="24">
                                            <label nz-checkbox formControlName="isStudying">{{
                                                'app.resumeform3.currentlystudyhere' | translate
                                            }}</label>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24"
                                            >{{ 'app.resumeform3.from' | translate
                                            }}<sup class="custom-required-field">*</sup></nz-form-label
                                        >
                                        <nz-form-control>
                                            <nz-select nzPlaceHolder="Month" formControlName="startMonth">
                                                <nz-option *ngFor="let l of months" [nzLabel]="l.name" [nzValue]="l.name"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-control class="form-to-margin">
                                            <nz-select
                                                nzPlaceHolder="Year"
                                                formControlName="startYear"
                                                (ngModelChange)="changeFromYear($event)"
                                            >
                                                <nz-option *ngFor="let l of years" [nzLabel]="l.year" [nzValue]="l.year"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col [nzMd]="12" [nzSm]="12" [nzXs]="24" *ngIf="!childForm.value.education[i].isStudying">
                                    <nz-form-item>
                                        <nz-form-label [nzSpan]="24">{{ 'app.resumeform3.to' | translate }}</nz-form-label>
                                        <nz-form-control>
                                            <nz-select nzPlaceHolder="Month" formControlName="endMonth">
                                                <nz-option *ngFor="let l of months" [nzLabel]="l.name" [nzValue]="l.name"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                        <nz-form-control class="form-to-margin">
                                            <nz-select nzPlaceHolder="Year" formControlName="endYear">
                                                <nz-option *ngFor="let l of endYears" [nzLabel]="l.year" [nzValue]="l.year"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="24" *ngIf="i > 0">
                                    <div class="remove" (click)="removeEducation(childForm.controls.education, i)">
                                        <span>{{ 'app.resumeform3.removeeducation' | translate }}</span>
                                        <i nz-icon class="contact-icon" nzType="delete" nzTheme="fill"></i>
                                    </div>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                </div>
                <div class="add" (click)="addEducation(childForm.controls.education)">
                    <span>{{ 'app.resume.addmore' | translate }}</span
                    ><i nz-icon nzType="plus" nzTheme="outline"></i>
                </div>
            </div>
        </form>
    </nz-card>
</div>

<ng-template #educationCardTitleTemp>
    <div nz-row [nzGutter]="24">
        <div nz-col [nzMd]="18" [nzSm]="18" [nzXs]="24">
            <h3>{{ 'app.resumeform3.educationinformation' | translate }}</h3>
        </div>
        <div nz-col [nzMd]="6" [nzSm]="6" [nzXs]="24" class="required"><span>* </span>{{ 'app.resume.required' | translate }}</div>
    </div>
</ng-template>
