<div class="recent-search-container">
    <div class="sectionTitle">
        <span>{{ 'app.main.recentsearch' | translate }}</span>
    </div>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_date">
            <div class="card_title">
                <b>Software Engineer</b>
                <i nz-icon class="righ-click-icon" nzType="right" nzTheme="outline"></i>
            </div>
            <div class="description">
                <p style="margin: 0px">1008 in dhaka</p>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_date">
            <div class="card_title">
                <b>Front End Developer</b>
                <i nz-icon class="righ-click-icon" nzType="right" nzTheme="outline"></i>
            </div>
            <div class="description">
                <p style="margin: 0px">500 in Jessore</p>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_date">
            <div class="card_title">
                <b>Marketing Executive</b>
                <i nz-icon class="righ-click-icon" nzType="right" nzTheme="outline"></i>
            </div>
            <div class="description">
                <p style="margin: 0px">5003 in dhaka</p>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_date">
            <div class="card_title">
                <b>Accountant</b>
                <i nz-icon class="righ-click-icon" nzType="right" nzTheme="outline"></i>
            </div>
            <div class="description">
                <p style="margin: 0px">205 in Bangladesh</p>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_date">
            <div class="card_title">
                <b>Retail Assistant</b>
                <i nz-icon class="righ-click-icon" nzType="right" nzTheme="outline"></i>
            </div>
            <div class="description">
                <p style="margin: 0px">2007 in Bangladesh</p>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_date">
            <div class="card_title">
                <b>Graphics Designer</b>
                <i nz-icon class="righ-click-icon" nzType="right" nzTheme="outline"></i>
            </div>
            <div class="description">
                <p style="margin: 0px">98 in Bangladesh</p>
            </div>
        </div>
    </nz-card>
</div>
