<div class="jobfeed">
    <div class="sectionTitle">
        <span>{{ 'app.main.jobfeed' | translate }}</span>
    </div>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="">
        <div>
            <div class="card_title">
                <b>February 14, 2021</b>
            </div>
            <div class="description">
                <p style="margin: 0px">Job based on your search-Updated 10 minutes ago</p>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_inside">
            <div class="iconset">
                <i class="checkicon onhover" nz-icon nzType="check-square" nzTheme="outline"></i>
                <i class="stopicon onhover" nz-icon nzType="stop" nzTheme="outline"></i>
            </div>
            <div class="card_title onhover">
                <b>Software Engineer</b>
            </div>
            <div class="companyname_location">
                <div>Gononet Online solution</div>
                <div>Dhaka</div>
            </div>
            <div class="apply_now onhover"><i nz-icon nzType="right" nzTheme="outline"></i> Apply Now</div>
            <div class="time">
                <p>5 days ago</p>
            </div>
            <div class="search_suggesion onhover">
                <i nz-icon nzType="search" nzTheme="outline"></i>
                <div class="search_key">
                    <p style="margin: 0px">Software Engineer Dhaka</p>
                </div>
            </div>
        </div>
    </nz-card>
    <nz-card class="margin_padding" [nzBordered]="false" nzTitle="" [nzHoverable]="true">
        <div class="margin_inside">
            <div class="iconset">
                <i class="checkicon onhover" nz-icon nzType="check-square" nzTheme="outline"></i>
                <i class="stopicon onhover" nz-icon nzType="stop" nzTheme="outline"></i>
            </div>
            <div class="card_title onhover">
                <b>Software Engineer</b>
            </div>
            <div class="companyname_location">
                <div>Gononet Online solution</div>

                <div>Dhaka</div>
            </div>
            <div class="apply_now onhover"><i nz-icon nzType="right" nzTheme="outline"></i> Apply Now</div>
            <div class="time">
                <p>5 days ago</p>
            </div>
            <div class="search_suggesion onhover">
                <i nz-icon nzType="search" nzTheme="outline"></i>
                <div class="search_key">
                    <p style="margin: 0px">Software Engineer Dhaka</p>
                </div>
            </div>
        </div>
    </nz-card>
</div>
