<div class="employer-search-toolbar">
    <nz-card [nzBordered]="false">
        <div class="employer-search-toolbar-wrapper">
            <div class="first-toolbar">
                <div>
                    <a>{{ 'app.emplyeesearchtoolbar.resumesearch' | translate }}</a>
                </div>
                <div>
                    <a>{{ 'app.emplyeesearchtoolbar.project' | translate }}</a>
                </div>
                <div>
                    <a>{{ 'app.emplyeesearchtoolbar.massagetemplate' | translate }}</a>
                </div>
            </div>
            <div class="first-toolbar">
                <div>
                    <a>{{ 'app.emplyeesearchtoolbar.remainingcontact' | translate }}</a>
                </div>
                <div>
                    <a>{{ 'emplyeesearchtoolbar.subscriptionmanagement' | translate }}</a>
                </div>
            </div>
        </div>
    </nz-card>
</div>
